@font-face {
    font-family: "program_icons";
    font-style: normal;
    src: url(../fonts/program_icons.woff);
}

.sht24-responsive-table {
    /*overflow-x: auto;*/
}

table.sht24-trainingslist {
    width: 100%;
    background: #fff;
    padding: auto 10px;
}

table.sht24-trainingslist thead {
    border-top: 2px grey solid;
    border-bottom: 2px grey solid;
    font-weight: bold;
}

table.sht24-trainingslist thead th {
    padding: 8px 6px;
    vertical-align: top;
}

table.sht24-trainingslist tfoot th {
    font-weight: normal;
}

table.sht24-trainingslist tbody tr {
    border-bottom: 1px grey solid;
}

table.sht24-trainingslist tbody tr td {
    padding: 8px 6px;
    vertical-align: middle;
}

.sht24-nowrap {
    word-break: keep-all;
    white-space: nowrap
}

table.sht24-trainingslist a.sht24-booking-btn {
    text-decoration: none;
    background-color: rgba(0, 151, 87, 1);
    color: #fff;
    border-radius: 3px;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    transition: all 0.25s ease-out;
}

table.sht24-trainingslist a.sht24-booking-btn:hover {
    color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 151, 87, 0.5);
    transition: all 0.25s ease-out;
}

table.sht24-trainingslist a.sht24-info-btn {
    text-decoration: none;
    background-color: #eee;
    color: #333;
    border-radius: 3px;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    transition: all 0.25s ease-out;
}

table.sht24-trainingslist a.sht24-info-btn:hover {
    color: #333;
    box-shadow: 0 0 5px 2px rgba(238, 238, 238, 0.5);
    transition: all 0.25s ease-out;
}

table.sht24-trainingslist a.sht24-location-btn {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    transition: all 0.25s ease-out;
}

table.sht24-trainingslist a.sht24-location-btn:hover {
    color: #fff;
    box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.5);
    transition: all 0.25s ease-out;
}

.sht24-notice {
    font-size: small;
    color: #666;
    background: #fff;
    padding: 5px 10px;
    display: table-cell !important;
}

.sht24-text-center {
    text-align: center;
}

.sht24-d-none {
    display: none !important;
}

.sht24-tooltip {
    display: inline;
    position: relative;
}

.sht24-tooltip:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    top: 48px;
    color: #fff;
    content: attr(data-title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    text-align: center;
    font-size: small;
}

.sht24-tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0 6px 6px 6px;
    bottom: -4px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.sht24-level-red {
    padding: 2px 6px;
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border: solid 1px rgb(245, 198, 203);
    border-radius: 4px;
}

.sht24-level-orange {
    padding: 2px 6px;
    color: rgb(133, 100, 4);
    background-color: rgb(255, 243, 205);
    border: solid 1px rgb(255, 243, 205);
    border-radius: 4px;
}

.sht24-level-green {
    padding: 2px 6px;
    color: rgb(21, 87, 36);
    background-color: rgb(212, 237, 218);
    border: solid 1px rgb(195, 230, 203);
    border-radius: 4px;
}

.sht24-programmicon {
    font-family: program_icons;
    font-style: normal;
    border: solid rgba(0, 151, 87, 1) 2px;
    border-radius: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 37.5px;
    color: #0b9a33;
    border: 2px solid #0b9a33;
    border-radius: 10px;
    margin: 0 5px 5px 0;
    background-color: #fff;
}


.sht24-i-map-marker::before {
    font-family: program_icons;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    content: "\EA17"
}

.sht24-i-info::before {
    font-family: program_icons;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    content: "\EA18"
}

.sht24-i-booking::before {
    font-family: program_icons;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    content: "\EA19"
}

.sht24-i-shield::before {
    font-family: program_icons;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    content: "\EA1A"
}

.sht24-programmicon.sht24-pkw-aufbau::before {
    font-family: program_icons;
    content: "\EA0B"
}

.sht24-programmicon.sht24-pkw-4-5h::before {
    font-family: program_icons;
    content: "\EA0D"
}

.sht24-programmicon.sht24-pkw-8h::before {
    font-family: program_icons;
    content: "\EA0E"
}

.sht24-programmicon.sht24-pkw-senioren::before {
    font-family: program_icons;
    content: "\EA11"
}

.sht24-programmicon.sht24-pkw-bf17::before {
    font-family: program_icons;
    content: "\EA0C"
}

.sht24-programmicon.sht24-motorrad::before {
    font-family: program_icons;
    content: "\EA0A"
}

.sht24-programmicon.sht24-motorrad-aufbau::before {
    font-family: program_icons;
    content: "\EA08"
}

.sht24-programmicon.sht24-motorrad-schraeglage::before {
    font-family: program_icons;
    content: "\EA09"
}

.sht24-programmicon.sht24-motorrad-kurve::before {
    font-family: program_icons;
    content: "\EA13"
}

.sht24-programmicon.sht24-lkw::before {
    font-family: program_icons;
    content: "\EA07"
}

.sht24-programmicon.sht24-linienbus::before {
    font-family: program_icons;
    content: "\EA05"
}

.sht24-programmicon.sht24-linienbus-h::before {
    font-family: program_icons;
    content: "\EA06"
}

.sht24-programmicon.sht24-reisebus::before {
    font-family: program_icons;
    content: "\EA10"
}

.sht24-programmicon.sht24-einsatzfahrzeug::before {
    font-family: program_icons;
    content: "\EA02"
}

.sht24-programmicon.sht24-gelaendewagen::before {
    font-family: program_icons;
    content: "\EA03"
}

.sht24-programmicon.sht24-ladungssicherung::before {
    font-family: program_icons;
    content: "\EA04"
}

.sht24-programmicon.sht24-wohnwagen::before {
    font-family: program_icons;
    content: "\EA01"
}

.sht24-programmicon.sht24-wohnmobil::before {
    font-family: program_icons;
    content: "\EA16"
}

.sht24-programmicon.sht24-sonstige::before {
    font-family: program_icons;
    content: "\EA12"
}

.sht24-programmicon.sht24-transporter::before {
    font-family: program_icons;
    content: "\EA15"
}

.sht24-programmicon.sht24-transporter-fqt::before {
    font-family: program_icons;
    content: "\EA0F"
}

.sht24-programmicon.sht24-tanklaster::before {
    font-family: program_icons;
    content: "\EA14"
}